.Weather {
  padding: 20px;
  margin: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: rgb(170, 168, 168);
  height: 400px;
  max-width: 700px;
  opacity: 80%;
}

.Weather .overview {
  margin-bottom: 20px;
}

h1 {
  color: white;
}

li{
  color: white;
  list-style:none;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

