:root{
    --primary-color:aqua;
}

h2{
    color:rgb(249, 249, 124);
}


.TypeCity{
    margin: 10px;
    padding-left:6px;
    padding-right: 46px;
    border-radius: 4px;


}

.SearchCity{
margin: 15px;
padding-left:16px;
padding-right: 16px;
border-radius: 4px;
}